<div class="center jumbotron">
    
  <h1>Welcome to OOLWs</h1>
  <h2>
    You've found our home, now go create a world and jump in.
  </h2>
  <%= link_to "Find your world!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="center">
<%= link_to image_tag("Web.png", alt: "Lost Image: OOLWs"),
            'https://rails-tutorial-jonkrone.c9.io/static_pages/about' %>
</div>