<% provide(:title, "About") %>
<h1> <~~> ABOUT <~~></h1>
<p>
  RSS viewer that arranges feeds you are interested in.
  Word / Topic separator
  Pulls from other top news.
  
  This domain has been compiled from Michael Hartl's wonderful Rails introduction, <a href="http://www.railstutorial.org/book"> Rails Tutorial</a>, which teaches web development with <a href="http://rubyonrails.org/">Ruby on Rails</a> through coding and example.
</p>