<div class="center jumbotron">
  
  <h1>Welcome to OOLWs</h1>
  <h2>
    You've found our homepage, now go find your world and log in.
  </h2>
  <%= link_to "Find your world!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<div class="center">
<%= link_to image_tag("Web.png", alt: "OOLWs"),
            'https://rails-tutorial-jonkrone.c9.io/static_pages/about' %>
</div>