<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create your world') %>
<h1>Create Your World</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3 form-group">
    <%= render 'form' %>
  </div>
</div>